<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Aahana Clinic</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AahanaClinic.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://m.media-amazon.com/images/I/41OBKrwxT3L.css" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>

    <!-- Top bar -->
    <div class="top-bar bg-light py-2">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-4 text-center">
                    <span class="me-2"><i class="fas fa-phone-alt"></i></span> Call Us: <a href="tel:9991179300" style="text-decoration:none">9991179300</a>
                </div>
                <div class="col-md-4 text-center">
                    <span class="me-2"><i class="far fa-calendar-alt"></i></span> Mon-Sat
                </div>
                <div class="col-md-4 text-center">
                    <span class="me-2"><i class="far fa-clock"></i></span> 9:00 AM - 6:00 PM
                </div>
            </div>
        </div>
    </div>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><img src="/assets/AahanaLogo.png" width="150" alt="Aahana Physio Clinic Logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="AboutDoctor" asp-action="Index">About Doctor</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="OurServices" asp-action="Index">Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="VirtualTour" asp-action="Index">Virtual Tour</a>
                            </li>
                            @* <li class="nav-item">
                                <a class="nav-link" asp-controller="Blogs" asp-action="Index">Blogs</a>
                            </li> *@
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="BookAnAppointment" asp-action="Index">Book an Appointment</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Index"> Admin Portal</a>
                            </li>
                        }


                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Patients" asp-action="Index">Patients</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Patients" asp-action="Search">Search</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Encounters" asp-action="Index">Encounters</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Appointments" asp-action="Index">Appointments</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Settings" asp-action="Index">Settings</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="ChangePassword">Change Password</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="LogOut">Logout</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div style="min-height:76.3vh">
      @RenderBody()
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; @System.DateTime.Now.Year.ToString() - Aahana Phyisiotherapy Clinic
        </div>
    </footer>
    @if (!User.Identity.IsAuthenticated)
    {
        <!-- WhatsApp fixed icon -->
        <a href="https://wa.me/9991179300" class="whatsapp-fixed" target="_blank">
            <i class="fab fa-whatsapp"></i>
        </a>
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>