<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/1eed0da3-f66a-4294-bee4-3db54516fb4a/resourceGroups/DrAnuPT/providers/Microsoft.Web/sites/aahanaphysioclinic</ResourceId>
    <ResourceGroup>DrAnuPT</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://aahanaphysioclinic.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>43a7ad95-9dbd-4a86-9ed1-0a212695ff00</ProjectGuid>
    <PublishUrl>https://aahanaphysioclinic.scm.azurewebsites.net/</PublishUrl>
    <UserName>$aahanaphysioclinic</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>