@page
@model IndexModel
@{
    ViewData["Title"] = "Best Phyisotherapist in Charkhi Dadri";
}


<div class="container-fluid p-0">
    <div class="row">
        <div class="col p-0" >
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/assets/slider1.png" class="d-block w-100" alt="...">
                        <div class="carousel-caption textGradient">
                            <h2>Best Physiotherapy Clinic in Charkhi Dadri</h2>
                            <p>Our skilled physiotherapist utilize hands-on techniques to assess, diagnose, and treat musculoskeletal conditions. Manual therapy techniques such as joint mobilization, soft tissue massage, and manipulation aim to reduce pain, improve joint mobility, and enhance tissue healing.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="~/assets/slider2.png" class="d-block w-100" alt="...">
                        <div class="carousel-caption textGradient">
                            <h2>Exercise Rehabilitation</h2>
                            <p>We believe in the power of exercise to promote recovery and enhance physical function. Our team will design a customized exercise program to address your specific goals and needs. Through therapeutic exercises, we aim to improve strength, flexibility, endurance, and overall functional capacity.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="~/assets/slider3.png" class="d-block w-100" alt="...">
                        <div class="carousel-caption textGradient">
                            <h2>Electrotherapy</h2>
                            <p>Electrotherapy modalities, such as ultrasound, electrical stimulation, and laser therapy, can be effective in pain management, reducing inflammation, promoting tissue healing, and improving circulation. Our therapists will determine the most suitable electrotherapy treatment for your condition</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>
