@model aahanaphysioclinic.Model.Patient

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container">
    <h4 class="textGradient text-center">Add Patient</h4>
    <hr />
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="Create" asp-controller="Patients" method="post" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="PatientName" class="control-label">Patient Name</label>
                    <input asp-for="PatientName" name="PatientName" class="form-control" required/>
                    <span asp-validation-for="PatientName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MobileNumber" class="control-label">Mobile Number(Without +91)</label>
                    <input asp-for="MobileNumber" name="MobileNumber" max="10" class="form-control" required/>
                    <span asp-validation-for="MobileNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Gender" class="control-label">Gender</label>
                    <select asp-for="Gender" name="Gender" class="form-control">
                        <option value="">Select Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Occupation" class="control-label">Occupation</label>
                    <select asp-for="Occupation" name="Occupation" class="form-control">
                        <option value="">Select Occupation</option>
                        <option value="Private">Private</option>
                        <option value="Govt">Govt</option>
                        <option value="Student">Student</option>
                        <option value="Un-Employed">Un-Employed</option>
                        <option value="Contract">Contract</option>
                        <option value="Others">Others</option>
                    </select>
                    <span asp-validation-for="Occupation" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Address</label>
                    <input type="text" asp-for="Address" name="Address" class="form-control" placeholder="Address Line" />
                    <input type="text" asp-for="State" name="State" class="form-control mt-2" placeholder="State" />
                    <input type="text" asp-for="City" name="City" class="form-control mt-2" placeholder="City" />
                    <input type="text" asp-for="PinCode" name="PinCode" class="form-control mt-2" placeholder="Pin Code" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group text-center mt-4">
                    <button type="submit" class="btn btn-primary btn-lg">Add Patient</button>
                </div>
            </form>
        </div>
    </div>

    <div class="text-center">
        <a asp-action="Index">Back to List</a>
    </div>
</div>

