@model aahanaphysioclinic.Model.LabReport

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";

    var encounterId = ViewContext.HttpContext.Request.Query["EncounterId"];
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header textGradient">
                    <h4>Create LabReport</h4>
                </div>
                <div class="card-body">
                    <form asp-action="Create" enctype="multipart/form-data" class="needs-validation" novalidate>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input asp-for="EncounterId" type="hidden" class="control-label" value="@encounterId" />
                        <!-- File input for Lab Report File -->
                        <div class="form-group">
                            <label class="control-label">Upload Lab Report File:</label><br />
                            <input type="file" name="LabReportFile" class="form-control" />
                            <span asp-validation-for="LabReportFile" class="text-danger"></span>
                        </div>
                        <!-- Radio button list for Lab Report Type -->
                        <div class="form-group">
                            <label class="control-label">Lab Report Type:</label><br />
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="LabReportType" id="MRI" value="MRI">
                                <label class="form-check-label" for="MRI">MRI</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="LabReportType" id="XRay" value="X-Ray">
                                <label class="form-check-label" for="XRay">X-Ray</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="LabReportType" id="Ultrasound" value="Ultrasound">
                                <label class="form-check-label" for="Ultrasound">Ultrasound</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="LabReportType" id="Others" value="Others">
                                <label class="form-check-label" for="Others">Others</label>
                            </div>
                            <span asp-validation-for="LabReportType" class="text-danger"></span>
                        </div>
                        
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Create</button>
                            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        // Prevent form submission if any fields are invalid
        (function () {
            'use strict';

            var forms = document.querySelectorAll('.needs-validation');

            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault();
                            event.stopPropagation();
                        }

                        form.classList.add('was-validated');
                    }, false);
                });
        })();
    </script>
}
